@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-address-card-o fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">1</p>
                                <p class="announcement-text">Profiles</p>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">
                                    Expand
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-barcode fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">12</p>
                                <p class="announcement-text"> Products</p>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">
                                    Expand
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">18</p>
                                <p class="announcement-text">Users</p>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">
                                    Expand
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-6 text-right">
                                <p class="announcement-heading">9000</p>
                                <p class="announcement-text"> Orders!</p>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer announcement-bottom">
                            <div class="row">
                                <div class="col-xs-6">
                                    Expand
                                </div>
                                <div class="col-xs-6 text-right">
                                    <i class="fa fa-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- /.row -->
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="">
                    <div class="">
                        <span class="x-icon-headings-invert icon-x-order x-icon-headings"></span>
                        <h3 class="header-white header-smaller">Active Orders</h3>
                    </div>
                    <div class="">
                        <div class="huge">2</div>
                    </div>
                </div>
            </div>
            <a href="/broker/order/detail/2">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 clearfix"><span class="pull-left">Order (#2) Test</span></div>
                        <div class="col-md-5 col-lg-4 clearfix dashboard-leads-indicator"><span class="pull-left">7/50 Leads </span></div>
                        <div class="col-md-2 col-lg-4 clearfix dashboard-progress-bar">
                            <div class="progress" style="background-color: rgba(221, 221, 221, 1)">
                                <div class="progress-bar" progress-bar-success="yes" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="50" style="width: 14.00%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="/broker/order/detail/3">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-4 clearfix"><span class="pull-left">Order (#3) Test2</span></div>
                        <div class="col-lg-4 clearfix"><span class="pull-left">1/50 Leads </span></div>
                        <div class="col-lg-4 clearfix">
                            <div class="progress" style="background-color: rgba(221, 221, 221, 1)">
                                <div class="progress-bar" progress-bar-success="yes" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="50" style="width: 2.00%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                ADMIN
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.sciax2.it/forum/utenti/-kik_226760/" target="_blank">Return back</a></li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Settings
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">SETTINGS</li>
                        <li class=""><a href="#">Link</a></li>
                        <li class=""><a href="#">Other Link</a></li>
                        <li class=""><a href="#">Other Link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Files
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge">253</span> New</li>
                            <li class="list-group-item"><span class="badge">17</span> Deleted</li>
                            <li class="list-group-item"><span class="badge">3</span> Reported</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Blog
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge">12</span> New</li>
                            <li class="list-group-item"><span class="badge">5</span> Deleted</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                Settings
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge">1</span> Users Reported</li>
                            <li class="list-group-item"><span class="badge">5</span> User Waiting Activation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-9">
            <div class="row">
                <div class="col col-md-5">
                    <h4>Today Stats:</h4>
                    Visits<span class="pull-right strong">- 15%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>
                    </div>

                    20 New Users<span class="pull-right strong">+ 30%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">30%</div>
                    </div>

                    359 Downloads<span class="pull-right strong">+ 8%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width:8%">8%</div>
                    </div>
                </div>
                <div class="col col-md-5">
                    <h4>This Month Stats:</h4>
                    Visits<span class="pull-right strong">+ 45%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
                    </div>

                    395 New Users<span class="pull-right strong">+ 57%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
                    </div>

                    12.593 Downloads<span class="pull-right strong">+ 25%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <article class="wrapper">
        <section class="main">

            <section class="tab-content">

                <section class="tab-pane active fade in content" id="dashboard">

                    <div class="row">

                        <div class="col-xs-6 col-sm-3">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <br /><br /><br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    <br /><br /><br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    <br /><br /><br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-3">
                            <div class="panel panel-warning">
                                <div class="panel-body">
                                    <br /><br /><br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Something
                                </div>
                                <div class="panel-body">
                                    This layout uses tabs to demonstrate what you could do with it. It probably makes more sense to use individual pages/templates in a production app.
                                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Something
                                </div>
                                <div class="panel-body">
                                    The sidebar is naturally responsive according to screen width. You can toggle it using the menu button in the topbar. Test it out by increasing/decreasing your screen width and watch it respond.
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Kaitani Labs
                                </div>
                                <div class="panel-body">
                                    Designed by <a href="http://www.kaitanilabs.com" target="_blank">Kaitani Labs</a></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>

                <section class="tab-pane fade" id="configuration">
                    <nav class="subbar">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#access" data-toggle="tab"><i class="fa fa-code"></i> <span>System</span></a></li>
                            <li><a href="#roles" data-toggle="tab"><i class="fa fa-user"></i> <span>Roles</span></a></li>
                        </ul>
                    </nav>

                    <section class="tab-content content">

                        <section class="tab-pane active fade in" id="access">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br /><br />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br /><br />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br /><br />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br /><br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>

                        <section class="tab-pane fade" id="roles">

                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-9">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden-xs col-sm-4 col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br />
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Something
                                        </div>
                                        <div class="panel-body">
                                            <br /><br /><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </section>

                </section>

                <section class="tab-pane fade" id="users"></section>

                <section class="tab-pane fade" id="mail"></section>

            </section>




        </section>

    </article>

    <div class="col-md-3">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-list-ol fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading">4</p>
                        <p class="announcement-text">Customers</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            View
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"> R$ 950 mil</p>
                        <p class="announcement-text">Revenue</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Details
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"> 2,3 months</p>
                        <p class="announcement-text">Average time</p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Details
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-heading"> $ 250 k</p>
                        <p class="announcement-text">Recovered <i class=""></i>  </p>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer announcement-bottom">
                    <div class="row">
                        <div class="col-xs-6">
                            Details
                        </div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</body>
</html>
